@font-face {
  font-family: cardHeader;
  src: url(../fonts/WarPriest3DRegular-Koxe.ttf);
}
/* come back to give size if necessary */
.playerScoreCard{
  background-color: rgb(125, 228, 176);
  height: 30vh;
  min-width: 48vw;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1vh 1vh;
  padding-right: 2vh;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

/* check position for bugs */
.avatar{
  object-fit: contain;
  max-height: 30vh;
  width: auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.playerName{
  font-size: 10vh;
  flex: 1;
  font-family: cardHeader;
}
.currentScore, .wins{
  margin-right: 3vh;
  font-size: 10vh;
  color: red;
}
.scoreKeeper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scoreKeeper h2{
  margin: 0;
  padding: 0;

}